h1 {
	display: inline-block;
}

h2:not(:first-child) {
	padding-top: 20px;
}

hr {
	clear: both;
}

.explanation {
	margin-left: 0;
	display: none;
}

h1:last-of-type {
	margin-left: 0;
}

.shirt {
	display: inline;
	margin-left: 0;
}

.shirt img {
	width: 8%;
}

.commitTEE:hover .explanation {
	display: inline;
}

.commitTEE:hover .shirt {
	display: none;
}

.media {
	margin-top: 0;
	margin-bottom: 20px;
}

.media p:last-of-type {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.consul {
		width: 50%;
	}

	.consul-one {
		float: left;
		padding-right: 1%;
	}

	.consul-two {
		float: right;
		padding-left: 1%;
	}
}
