h1 {
	display: inline-block;
}

.explanation {
	margin-left: 0;
	display: none;
}

h1:last-of-type {
	margin-left: 0;
}

.shirt {
	display: inline;
	margin-left: 0;
}

.shirt img {
	width: 8%;
}

.commitTEE:hover .explanation {
	display: inline;
}

.commitTEE:hover .shirt {
	display: none;
}
