body {
	background-image: url("../images/gloriousRunk.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
}

h1 {
	padding: 10px 0;
	margin: 10px 0 10px 20%;
}

h3 {
	color: #053319;
}

h3:first-of-type {
	margin-top: 0;
}

.welcome p:nth-of-type(2n + 1) {
	display: inline;
}

.welcome p:nth-of-type(2n) {
	display: none;
	margin: 0;
}

.welcome a:hover, a:focus {
	text-decoration: inherit;
}

#calendar {
	border: 0;
}

.welcome {
	background-color: rgba(255,255,255,0.5);
	padding: 1.5% 5%;
	margin: 0 10%;
}
