.banner {
	max-width: 80%;
}

@media (max-width: 768px) {
	.banner {
		margin: 1% 10%;
	}
}

.content p {
	margin-bottom: 2%;
	font-size: 16px;
}

.content p:last-of-type {
	margin-bottom: 0;
}

.carousel {
	visibility: hidden;
	margin-bottom: 2%;
}
