.herefordLogo {
	display: inline-block;
	position: relative;
	margin-left: 5%;
}

.herefordLogo img {
	width: 80%;
	position: relative;
	display: inline-block;
	margin-top: 15%;
	margin: 5%;
}

/* !important means that it's important
and overrides other features lol */

.welcome p {
	margin-bottom: 2%;
	display: inline-block;
	font-size: 16px;
}

.welcome p:last-of-type {
	margin-bottom: 0;
}

.carousel {
	visibility: hidden;
	margin-bottom: 2%;
}
