h3 {
	margin-bottom: 0;
}

.required::after {
	content: " *";
	color: red;
}

.required-asterisk {
	color: red;
}

.approved::after {
	content: " \2714";
	color: green;
}

.rejected::after {
	content: " \2718";
	color: red;
}

.proposal p:nth-of-type(2n + 1) {
	display: inline;
}

.proposal p:nth-of-type(2n) {
	display: none;
	margin: 0;
}
