.navbar {
	position: sticky;
	top: 0; /* "Hack" to make sticky work */
	z-index: 10; /* This should be the highest on the page */
	border-radius: 0; /* No border radius for cleaner look */
}

.navbar-default .navbar-brand {
	color: #496149;
}

.navbar-default .navbar-brand:hover {
	color: #304830;
}

.navbar-default .navbar-nav > li > a {
	color: #496149;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #304830;
}

.navbar, .navbar-text {
	margin-bottom: 0; /* No bottom margin on navbar */
}

.tab {
	display: inline-block;
	width: 5%;
}

html, body {
	background-image: url("../images/gloriousRunk.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: #496149;
	color: white;
	text-align: center;
	padding: 1%;
}

.love {
	font-family: 'Delius Unicase', cursive;
	color: inherit;
}

.love:hover, .love:focus {
	color: inherit;
}

.navbar-default .navbar-text {
	text-align: center;
	color: #496149;
	font-family: 'Shadows Into Light', cursive;
	cursor: default;
}

.welcome {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 1.5% 5%;
	margin: 0 10%;
	z-index: 1;
}

.mission {
	background-color: #496149;
	color: white;
	padding: 1.5%;
	margin: 0 10%;
	text-align: justify;
}

.mission p {
	font-style: italic;
	margin: 0;
}

.title {
	padding: 1% 0;
	margin: 1% 0 1% 20%;
}

@media (max-width: 768px) {
	h1 {
		text-align: center;
		margin: 1% 0;
	}
}

h3 {
	color: #053319;
}

h3:first-of-type {
	margin-top: 0;
}

hr {
	border-color: #053319;
}

a:hover, a:focus {
	text-decoration: inherit;
}

iframe {
	border: 0;
}
