body {
	background-image: url("images/gloriousRunk.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
}

h1 {
	padding: 10px 0;
	margin: 10px 0 10px 20%;
}

h3 {
	color: #053319;
}

h3:first-of-type {
	margin-top: 0;
}

hr {
	border-color: #053319;
}

.mission {
	background-color: #496149;
	color: white;
	padding: 1.5%;
	margin: 0 10%;
	text-align: justify;
}

.mission p {
	margin: 0;
}

.welcome {
	background-color: rgba(255,255,255,0.5);
	padding: 1.5% 5%;
	margin: 0 10%;
}
