footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #496149;
  color: white;
  text-align: center;
}

.love {
<<<<<<< HEAD
	vertical-align: middle;
=======
	vertical-align: center;
>>>>>>> origin/master
	font-family: 'Delius Unicase', cursive; 
}
