html, body {
	margin-bottom: 20%;
	background-image: url("gloriousRunk.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
}

.headerFun {
	display: inline-block;
	position: relative;
}

.herefordLogo {
	display: inline-block;
	position: relative;
	margin-left: 15%;
}

.herefordLogo img {
	position: relative;
	display: inline-block;
	margin-top: 15%;
}

.headerFun h1 {
	font-size: 60px;
	text-align: center;
	color: white;
	font: Impact;
	display: inline-block;
	position: relative;
	margin-left: 10%;
}

.nav {
	background-color: rgba(255,255,255,0.5);
	/* background-color: hsla(100, 50%, 25%, 1);
	0.3 CONTROLS THE ALPHA
	CHANNEL!!!!!!!! 
	hsla(hue, saturation, lightness, alpha)
	*/
	margin: 0 auto;
	padding-top: 0.1%;
	padding-bottom: 0.1%;
}

.nav li {
	display: inline-block;
	padding-left: 5%;
	padding-right: 5%;;
}

.nav ul {
	list-style: none;
	font-size: 20px;
	font-family: 'Bree Serif', serif;
	position: relative;
}

.nav a {
	text-decoration: none;
}

.welcome {
	background-color: rgba(255,255,255,0.5);
	padding: 5% 5% 5% 5%;
	margin-left: 10%;
	margin-right: 13%;
}

.welcome p {
	padding-top: 10%
	padding-bottom: 10%;
}