html, body {
	margin-bottom: 8%;
	background-image: url("gloriousRunk.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
}

.herefordLogo {
	display: inline-block;
	position: relative;
	margin-left: 5%;
}

.herefordLogo img {
	width: 80%;
	position: relative;
	display: inline-block;
	margin-top: 15%;
	margin: 5%;
}

/* !important means that it's important
and overrides other features lol */

.welcome {
	background-color: rgba(255,255,255,0.5);
	padding: 5% 5% 0 5%;
	margin-left: 10%;
	margin-right: 13%;
}

.welcome p {
	padding-bottom: 4%;
	display: inline-block;
	font-size: 16px;
}

.welcomePic1 img {
	width: 100%;
	display: inline-block;
	margin-bottom: 3%;
}

.welcomeText3 {
	margin-top: -2.5%;
}
