body
{
	margin: 0; /* Make the form take up the entire page */
	overflow: hidden; /* Get rid of incorrect scrollbars */
}

#form
{
	/* Don't show the form until we've computed its size */
	height: 0;
	width: 0;
	border: 0; /* No border */
}
