/*.senTable {
	margin-left: 25%;

}

*/

table {
	margin-left: 10%;
	margin-top: 10%;
	margin-bottom: 10%;
	border: none;
	width: 80%;
}

td { /* styles cells */
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	/* border: none; */
	/* ^^^ ADD IN THE END */
}


/*@media (min-width: 900px) {
	p {
		width: 800px;
		text-align: center;
	}
}
*/

/*.tableSpacing { this is the function tableSpacing to be called by td tags
		padding-bottom: 53%;
		padding-top: 53%;
}*/