nav {
	border-radius: 0 !important; /* No border radius for cleaner look */
}

.navbar {
	position: sticky;
	top: 0; /* "Hack" to make sticky work */
	z-index: 10; /* This should be the highest on the page */
}

.navbar-default .navbar-brand {
	color: #496149 !important;
}

.navbar-default .navbar-brand:hover {
	color: #304830 !important;
}

.navbar-default .navbar-nav > li > a {
	color: #496149 !important;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #304830 !important;
}

.navbar {
	margin-bottom: 0; /* No bottom margin on navbar */
}

.tab {
	display: inline-block;
	width: 5%;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #496149;
	color: white;
	text-align: center;
}

.love {
	padding-top: 20px;
	font-family: 'Delius Unicase', cursive;
	color: inherit;
}

.love:hover, .love:focus {
	color: inherit;
	text-decoration: inherit;
}
