extends layout.pug

block title
	div.commitTEE.title
		h1 Senate Comit
		img.shirt(src='images/tshirt.png' alt='tee')
		h1.explanation tee
		h1 s

block about
	p.
		The Hereford Student Senate is comprised of the executive board and five committees that work to balance Hereford's ideals of living and learning.
		If you have an idea, need, or are simply interested in what is going on at Hereford,
		please feel free to contact the committee that best matches your issue or any member of HSS.

block content
	h2 Executive Board
	hr
	h3 Co-Consuls
	p.
		The two co-consuls are in charge of each meeting.
		Grapple code of conduct gangplank rope's end cog Jolly Roger line yawl strike colors six pounders.
		Holystone nipper pirate bounty lanyard handsomely execution dock reef sails schooner crimp.
		Run a rig crow's nest scallywag scuppers gun barque prow swab execution dock bounty.
	div.biography.consul.consul-one
		img.photo.photo-left(src='https://hereford.virginia.edu/sites/hereford.virginia.edu/files/styles/people_image/public/images/HSS%20portrait.jpg?itok=ZayfgDSZ' alt='Evan Sheldahl')
		h4 Evan Sheldahl
		p Email: #[a(href='mailto:ees3ht@virginia.edu') ees3ht@virginia.edu]
		p.description.
			Evan is a third year in the College pursuing a major in Astrophysics.
			He also plays clarinet in the marching band at UVA.
			Therefore, he finds it funny that he deals with two different kinds of CMB!
			(Cosmic Microwave Background and Cavalier Marching Band)
			As you can see, he also likes bad puns.
			His other more tolerable interests include playing Nintendo games, listening to classic rock, and Hereford!
			He is excited to be one of your co-consuls this year!
	div.biography.consul.consul-two
		img.photo.photo-right(src='https://hereford.virginia.edu/sites/hereford.virginia.edu/files/styles/people_image/public/images/10295710_1219846978030716_6789209470681313002_n.jpg?itok=E8hK-dht' alt='Monica Kuo')
		h4 Monica Kuo
		p Email: #[a(href='mailto:mdk6jd@virginia.edu') mdk6jd@virginia.edu]
		p.description.
			Monica is a third year student in the College of Arts and Sciences.
			She is a prospective medical student and computer science major.
			She has a passion for visual and performing arts and loves DIY projects.
			She is excited to bond with Herefordians and to help foster a warm and welcoming community at UVa.
			She looks forward to enjoying the upcoming year together with all Herefordians!

	hr
	h3 Publicity
	p.
		The publicity manager helps bring attention to HSS events.
		Bacon ipsum dolor amet landjaeger kielbasa frankfurter, strip steak pastrami tenderloin pancetta fatback ground round.
		Tenderloin leberkas alcatra spare ribs turkey salami corned beef andouille.
		Pastrami sirloin tongue rump pork chuck.
		Pancetta cow burgdoggen, chuck brisket turducken tri-tip flank short ribs doner.
		Pork chop shankle drumstick flank hamburger ham sirloin, pig beef cupim.
		Short loin pork belly cupim frankfurter picanha.
	div.biography
		img.photo.photo-left(src='https://hereford.virginia.edu/sites/hereford.virginia.edu/files/styles/people_image/public/images/UVA%20student%20ID%20pic.jpg?itok=6hVTdF6S' alt='Mohamed Ihsan')
		h4 Mohamed Ihsan
		p Email: #[a(href='mailto:mai5hh@virginia.edu') mai5hh@virginia.edu]
		p.description.
			Mohamed (or Momo!) is a second year hoping to major in Computer Engineering.
			He likes food, nature walking, cartography, Legend of Zelda, Star Wars and being social, among other things.
			If you have questions regarding the Engineering school, Hereford,
			or about anything else really (he will try to answer your question or direct you to someone who can),
			or want to get to know Mohamed (he loves meeting and befriending new people), you can find him on third floor Whyburn.

	hr
	h3 Treasurer
	p.
		Hoards all the money.
		Des lynam give him what-for handsome bogie basket educated,
		bogie basket give him what-for luxurious educated mexican gentleman funny walk des lynam mustachio handsome groomed.
		Movember ian rush cappuccino collector Daniel plainview,
		testosterone trophy cappuccino collector ian rush Daniel plainview movember arcu andrew weatherall worn with distinction.
	div.biography
		img.photo.photo-left(src='https://hereford.virginia.edu/sites/hereford.virginia.edu/files/styles/people_image/public/images/image1.PNG?itok=cpcnYeNO' alt='Maurice Wong')
		h4 Maurice Wong
		p Email: #[a(href='mailto:mzw7af@virginia.edu') mzw7af@virginia.edu]
		p.description.
			Maurice is a third year majoring in computer science and minoring in applied math.
			When his head isn't buried in a textbook, he enjoys reading, binge-watching Netflix, and consuming copious amounts of coffee.
			Sometimes all at the same time. He can be found on first floor Norris, but you'll most likely find him studying in the hub.

	hr
	h3 Recruitment and Retainment
	p.
		#[del Forces] Encourages students to live in Hereford.
		Hodor, hodor hodor hodor - hodor. Hodor. Hodor HODOR hodor, hodor hodor - hodor hodor!
		Hodor. Hodor hodor - hodor, hodor. Hodor hodor. Hodor hodor - HODOR hodor, hodor hodor hodor; hodor hodor hodor!
		Hodor hodor - hodor hodor. Hodor.
	div.biography
		img.photo.photo-left(src='https://hereford.virginia.edu/sites/hereford.virginia.edu/files/styles/people_image/public/images/HSS%20portrait.jpg?itok=ZayfgDSZ' alt='Alex Chmielinski')
		h4 Alex Chmielinski
		p Email: #[a(href='mailto:ac3dm@virginia.edu') ac3dm@virginia.edu]
		p.description.
			Cats secretly make all the worlds muffins kitty! kitty!,
			scream for no reason at 4 am and missing until dinner time, for eats owners hair then claws head.
			Knock dish off table head butt cant eat out of my own dish asdflkjaertvlkjasntvkjn (sits on keyboard)
			sun bathe ignore the squirrels, you'll never catch them anyway.
			Chew iPad power cord pee in human's bed until he cleans the litter box lick the curtain just to be annoying.
			Wack the mini furry mouse purr yet destroy the blinds howl uncontrollably for no reason so paw at your fat belly for burrow under covers,
			for hack up furballs.
			Licks paws if it fits, i sits play riveting piece on synthesizer keyboard,
			yet immediately regret falling into bathtub or hide from vacuum cleaner.

	hr
	h3 Secretary
	p.
		Makes sure people attend meetings and fill out post-event evaluations.
		A very small stage in a vast cosmic arena, Flatland rich in mystery dispassionate extraterrestrial observer rich in heavy atoms,
		hydrogen atoms stirred by starlight hundreds of thousands culture dream of the mind's eye finite but unbounded, cosmic ocean,
		kindling the energy hidden in matter, with pretty stories for which there's little good evidence Sea of Tranquility.
		Tingling of the spine, a billion trillion take root and flourish.
		Decipherment cosmic fugue not a sunrise but a galaxy rise great turbulent clouds billions upon billions,
		radio telescope circumnavigated and billions upon billions upon billions upon billions upon billions upon billions upon billions?
	div.biography
		img.photo.photo-left(src='https://hereford.virginia.edu/sites/hereford.virginia.edu/files/styles/people_image/public/images/13900984_10205802850945075_1755882371_n.jpg?itok=yuL4KRYi' alt='Perrin Arnold')
		h4 Perrin Arnold
		p Email: #[a(href='mailto:paa4tp@virginia.edu') paa4tp@virginia.edu]
		p.description.
			Perrin is a fourth year studying Archaeology and Biology.
			While he is involved in other activities and clubs such as the Washington Literary Society and Debating Union
			and the Virginia Glee Club (and painting and drawing whenever he can),
			he is most at home practicing his golf game right on the Hereford Hill.
			Feel free to stop by his room in Whyburn 104 to get to know him better!

	h2 Committees
	hr
	h3 Sustainability Committee
	p.
		The Sustainability committee fosters the spirit of physical wellness at Hereford by planning educational programs that raise awareness of environmental issues.
		This may entail, but is not limited to, working with UVa Housing to institute physical improvements to Hereford buildings
		(e.g. efficient hand-dryers; shower timers) or providing Herefordians with re-usable dinnerware for all community-wide events to encourage sustainability.
		Members of this committee think outside of the box.
	div.biography
		img.photo.photo-left(src='https://hereford.virginia.edu/sites/hereford.virginia.edu/files/styles/people_image/public/images/HSS%20portrait.jpg?itok=ZayfgDSZ' alt='Peter Marr')
		h4 Peter Marr
		p Email: #[a(href='mailto:pm7qr@virginia.edu') pm7qr@virginia.edu]
		p.description.
			Dragée liquorice liquorice dessert chocolate bar. Wafer dessert jelly chocolate cake sweet biscuit biscuit macaroon caramels.
			Cotton candy tootsie roll marshmallow chocolate cake bear claw sesame snaps soufflé. Gummies oat cake cake cupcake.

	hr
	h3 Social Committee
	p.
		The goal of the Social committee is to plan and execute social events for the Hereford community.
		In addition to small one-time or recurring events,
		the Social committee is also responsible for planning two day trips (i.e. to King's Dominion and Richmond).
		The purpose of this committee is to give Herefordians a reason to come together and get more acquainted with each other and the Hereford community.
	div.biography
		img.photo.photo-left(src='https://hereford.virginia.edu/sites/hereford.virginia.edu/files/styles/people_image/public/images/HSS%20portrait.jpg?itok=ZayfgDSZ' alt='Ruth Morgan')
		h4 Ruth Morgan
		p Email: #[a(href='mailto:rlm2dh@virginia.edu') rlm2dh@virginia.edu]
		p.description.
			heddar babybel cut the cheese. Cheese strings mozzarella cottage cheese hard cheese gouda cheeseburger ricotta cheesy feet.
			Blue castello goat goat squirty cheese caerphilly cauliflower cheese stilton blue castello.
			Gouda mascarpone rubber cheese mozzarella halloumi caerphilly bavarian bergkase edam. Port-salut.

	hr
	h3 Banquet Committee
	p.
		The Banquet committee designs, plans, and executes all banquets sponsored by the Hereford Student Senate.
		Though the members do all the behind the scenes work, they are assisted in the actual setup and cleanup of the banquets by the general body of HSS.
		The commitee works with UVa Catering to schedule the events, design menus and organize decorations or other activities.
		Members of this committee are organized and team-players.
	div.biography
		img.photo.photo-left(src='https://hereford.virginia.edu/sites/hereford.virginia.edu/files/styles/people_image/public/images/HSS%20portrait.jpg?itok=ZayfgDSZ' alt='Joe Leonard')
		h4 Joe Leonard
		p Email: #[a(href='jl2vt@virginia.edu') jl2vt@virginia.edu]
		p.description.
			Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale.
			Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea.
			Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress.
			Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.

	hr
	h3 Social Awareness Committee
	p.
		The Social Awareness committee seeks to increase dialogue at Hereford surrounding issues of social justice,
		particularly as they pertain to members of our own community. This is done via the planning of educational programs in Hereford,
		such as lectures or open-invitation conversations with faculty members or in collaboration with other groups around Grounds.
		Creative thinking is encouraged to meet the social justice interests of Herefordians and to further awareness of these issues in the community.
	div.biography
		img.photo.photo-left(src='https://hereford.virginia.edu/sites/hereford.virginia.edu/files/styles/people_image/public/images/HSS%20portrait.jpg?itok=ZayfgDSZ' alt='Emily Yates')
		h4 Emily Yates
		p Email: #[a(href='mailto:ely2ye@virginia.edu') ely2ye@virginia.edu]
		p.description.
			Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.
			De carne lumbering animata corpora quaeritis.
			Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
			Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.
			Qui animated corpse, cricket bat max brucks terribilem incessu zomby.
			The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus.
			Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies.
			Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.
