extends layout.pug

block scripts
	script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')

block title
	h1.title Upcoming Events

block about
	p Here are all of the up and coming events HSS has planned!

block content
	div.event
		h3 Carnival Banquet &mdash; #[span.time March 25, 2017, 6 pm]
		p As spring approaches and the weather outside becomes appropriately warm, Hereford's next big banquet is also on the way!
		p.
			On March 25 at 6:00 pm, come to the Hereford Lawn for the Carnival Banquet,
			which will feature fun activities like three-legged races and corn holes,
			as well as yummy carnival food! Let's celebrate food, fun, friends and spring weather!
	br
	div.event
		h3 Another event &mdash; #[span.time March 26, 2017, 8:00 am]
		p Description
		p More
	br
	div.event
		h3 Just filling up the page now
		p Yup
		p More
	br
	div.event
		h3 Keith William's Hiking Trip
		p At Hereford!
		p More
	br
	div.event
		h3 Heat Death of the Universe &mdash; #[span.time January 1st, 100000000000, 12 am]
		p This isn't actually correct
		p More
	br
	div.event
		h3 One more
		p We did it!
		p More
	//- iframe(src='https://www.google.com/calendar/embed?src=herefordcollege%40gmail.com&amp;showTitle=0&amp;ctz=America/New_York' width='800' height='600')
